<h1>Resetowanie Hasła</h1>
<p>
  Cześć <%= @user.user_name %>,
</p>
<p>
  Otrzymaliśmy prośbę o zresetowanie Twojego hasła.
</p>
<!-- Tutaj dodaj więcej treści, np. link do resetowania hasła -->
