<!DOCTYPE html>
<html lang="pl">
  <head>
    <!-- Twoje metatagi i linki do skryptów -->
  </head>
  <body>
    <div class="container">
      <h2>Witaj w Panelu Administracyjnym</h2>
      <!-- Tutaj możesz dodać linki do różnych sekcji twojej aplikacji -->
      <a href="/rooms">Pokoje</a>
      <a href="/users">Użytkownicy</a>
      <a href="/permissions">Uprawnienia</a>
      <a href="/cards">Karty</a>
      <!-- Inne linki i zawartość -->
    </div>
  </body>
</html>
