<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny - Dostęp do Drzwi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h2>Panel Administracyjny - Dostęp do Drzwi</h2>
    <p>Zaloguj się, aby skorzystać z naszego systemu:</p>
    <form action="/login" method="post">
      <div class="form-group">
      <label for="username">Nazwa użytkownika:</label>
      <input type="text" class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika" name="username">
      </div>
      <div class="form-group">
        <label for="pwd">Hasło:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Wprowadź hasło" name="password">
        <a href="/users_list" class="btn btn-link">Przypomnij nazwę użytkownika</a>
        <a href="/reset_password" class="btn btn-link">Przypomnij hasło</a>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Zapamiętaj mnie </label>
      </div>
      <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </form>
    </div>
  </body>
</html>
